# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-yaml
          - id: check-toml
          - id: check-json
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-added-large-files
          - id: check-executables-have-shebangs
          - id: debug-statements
          - id: end-of-file-fixer
          - id: trailing-whitespace
            files: "\\.(py|txt|yaml|json|md|toml|lock|cfg|html|sh|js|yml)$"
          - id: mixed-line-ending
            files: "\\.(py|txt|yaml|json|md|toml|lock|cfg|html|sh|js|yml)$"
          - id: fix-byte-order-marker
          - id: name-tests-test
          - id: requirements-txt-fixer

    - repo: https://github.com/pycqa/isort
      rev: "7.0.0"
      hooks:
          - id: isort
            files: "\\.(py)$"
            args: [--settings-path=pyproject.toml]

    - repo: https://github.com/hadialqattan/pycln
      rev: v2.6.0 # Possible releases: https://github.com/hadialqattan/pycln/releases
      hooks:
          - id: pycln
            args: [--config=pyproject.toml]

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: "v1.19.1"
      hooks:
          - id: mypy
            args: ["--config=pyproject.toml"]
            additional_dependencies:
                - pydantic
                - typer
                - uvicorn
                - fastapi
                - httpx
                - oss2
                - types-python-dateutil
                - yagmail
                - beautifulsoup4
                - cairosvg
                - PyJWT
                - utils
                - ics
                - dateparser
                - types-dateparser
                - types-psutil
                - pytest
                - python-ssl-checker
                - feedgen

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.14
      hooks:
          - id: ruff-check
            types_or: [python, pyi]
            args: [--fix]
          - id: ruff-format
            types_or: [python, pyi]
